<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <img class="card-img-top" src="holder.js/100x180/" alt="">
          <div class="card-body">
            <h4 class="card-title">{{oObra.title}}</h4>
            <p class="card-text"> {{oObra.description}}</p>
            <button type="button" class="btn btn-danger" routerLinkActive="active" [routerLink]="compra">Compra tus entradas</button>
          </div>
        </div>
      </div>
    </div>
  </div>
